.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: transform 1s ease-out;
}

a {
  color: darkseagreen;
}

a:visited {
  color: darkseagreen;
}

a:hover {
  color: darkseagreen;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas-holder {
  display: block;
  width: 100%;
  height: 80vh;
  position: absolute;
}

.vertical-center {
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-mono {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 0;
  color: darkseagreen;
}

.banner-name {
  color: aqua;
  font-size: 5.5rem;
  margin-left: -0.4rem;
}

.text-primray {
  color: lightblue;
}

.banner-nav-container {
  position: absolute;
  bottom: 0;
}

.container {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  width: "100%";
  height: "100vh";
}

.content-primary-block {
  background-color: teal;
}

.revealer {
  position: relative;
  left: -50%;
}

.navbar-locked {
  position: fixed;
  top: 0;
  /* background-color: darkseagreen; */
  /* border-bottom-style: solid; */
  padding: 0px auto;
  width: 25vw;
  transition-delay: 0.5s;
  transition: transform 1s ease-out;
  transform: translateY(-25vh);
  /* color: white; */
  padding-top: 1vh;
  height: 5vh !important;
}

.about-left {
  display: inline-block;
  position: fixed;
  width: 50vw;
  height: 90vh;
  top: 5vh;
  left: 0;
  transition: transform 1s ease-out;
  transform: translateX(-50vw);
}

.about-left-inside {
  color: #1e2131;
  font-size: 10rem;
  width: 100%;
  height: 90vh;
  background-color: lightblue;
  mix-blend-mode: screen;
  text-align: center;
}

.about-right {
  display: inline-block;
  position: fixed;
  width: 50vw;
  height: 90vh;
  top: 5vh;
  left: 0;
  transition: transform 1s ease-out;
  transform: translateX(150vw);
}

.about-right-inside {
  color: lightblue;
  font-size: 10rem;
  width: 100%;
  height: 100vh;
}

.about-right-content {
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: left;
  transition: transform 0.5s ease-in;
}

.about-right-content p {
  font-family: monospace;
  font-size: 1rem;
}

.about-right-content ul {
  padding-left: 10%;
  padding-top: 5%;
  list-style: none;
}

.about-right-content li::before {
  content: "";
  border-color: transparent lightblue;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9rem;
  position: relative;
}

.about-right-content ul li {
  font-family: monospace;
  font-size: 1rem;
}

.about-right-what-i-do {
  position: fixed;
  transform: translateY(100vh);
}

.about-right-technologies {
  position: fixed;
  transform: translateY(100vh);
}

/* EXPERIENCE */

.experience-left {
  display: inline-block;
  position: fixed;
  width: 50vw;
  height: 90vh;
  top: 5vh;
  left: 0;
  transition: transform 1s;
  transform: translateX(-50vw);
}

.experience-right {
  display: inline-block;
  position: fixed;
  width: 50vw;
  height: 90vh;
  top: 5vh;
  left: 0;
  transition: transform 0.925s;
  transform: translateX(150vw);
}

.experience-left-inside {
  color: lightblue;
  font-size: 10rem;
  width: 100%;
  height: 90vh;
  mix-blend-mode: screen;
  text-align: center;
  font-size: 7rem;
}

.experience-right-inside {
  background-color: lightblue;
  color: #1e2131;
  font-size: 7rem;
  width: 100%;
  height: 90vh;
}

/* TIMELINE */

.timeline-container {
  position: fixed;
  width: 25vw;
  height: 75vh;
  left: 25vw;
  top: 12.5vh;
  overflow: visible;
  color: aqua;
  /* text-align: left; */
}

.timeline-row-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50vw;
  left: 25vw;
  top: 25vh;
  margin: 0;
  padding: 0;
}

.timeline-column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 30vw;
}

.timeline-inner-left {
  position: relative;
  text-align: right;
  transition: transform 0.925s;
  transform: translateX(25vw);
  padding-right: 5vw;
}

.timeline-inner-right {
  padding-left: 5vw;
  text-align: left;
  color: white;
  position: relative;
  transition: transform 0.925s;
  transform: translateX(-25vw);
}

.timeline-inner-in {
  transition: transform 0.925s;
  transform: translateX(0);
}

.timeline-column h4 {
  font-family: monospace;
  font-size: 1.2rem;
  color: aqua;
  font-style: normal;
}

.timeline-column h5 {
  font-family: monospace;
  font-size: 1rem;
  color: darkseagreen;
  font-style: normal;
}

.timeline-column p {
  font-family: monospace;
  color: lightblue;
  font-size: 1rem;
}

/* ANIMATION */

.animate-out-left {
  transition: transform 0.5s ease-in;
  transform: translateX(-100vw);
}

.animate-out-right {
  transition: transform 0.5s ease-in;
  transform: translateX(100vw);
}

.animate-out-top {
  transition: transform 0.5s ease-in;
  transform: translateY(-100vh);
}

.about-animate-out {
  transition: transform 0.75s ease-out;
  transform: translate(-50%, -100vh);
}

.about-animate-out-top {
  transition: transform 0.7s ease-in;
  transform: translateY(-100vh);
}

.about-peek-out-top {
  transition: transform 0.5s ease-in;
  transform: translateY(-25vh);
}

.about-peek-out {
  transition: transform 0.3s ease-in;
  transform: translate(-50%, -30vh);
}

.animate-in-top {
  transition-delay: 0.5s;
  transition: transform 0.5s ease-in;
  transform: translateY(0);
}

.animate-in-right {
  transition: transform 0.1s ease-in;
  transform: translateX(-100vw);
}

.animate-in-left {
  transition: transform 0.5s ease-in;
  transform: translateX(0);
}

.animate-in-right {
  transition: transform 0.5s ease-in;
  transform: translateX(50vw);
}

.peek-in-left {
  transition: transform 0.5s ease-out;
  transform: translate(-40vw);
}

.animated-title-text {
  transition: transform 0.5s ease-out;
}

.what-i-do-peek {
  transition: transform 0.5s ease-in;
  transform: translateY(70vh);
}

.what-i-do-stage-1 {
  transition: transform 0.5s ease-out;
  transform: translateY(30vh);
}

.what-i-do-stage-2 {
  transition: transform 0.5s ease-out;
  transform: translateY(15vh);
}

.technologies-peek {
  transition: transform 0.5s ease-in;
  transform: translateY(80vh);
}

.technologies-in {
  transition: transform 0.5s ease-out;
  transform: translateY(40vh);
}

.hex-container {
  position: absolute;
  float: right;
  top: 5vh;
  right: -5vw;
  width: 10vw;
}
