:root {
  --primary-purple: #1e2131;
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  transition: transform 1s ease-out;
}

.hide-wrapper {
  transition-delay: 1s;
  transition-property: opacity;
  opacity: 0;
}

a {
  color: aqua;
}

a:visited {
  color: aqua;
}

a:hover {
  color: aqua;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas-holder {
  display: block;
  width: 100%;
  height: 80vh;
  position: absolute;
}

.vertical-center {
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-mono {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 0;
  color: darkseagreen;
}

.banner-name {
  color: aqua;
  font-size: 5.5rem;
  margin-left: -0.4rem;
}

.text-primray {
  color: lightblue;
}

.banner-nav-container {
  position: fixed;
  bottom: 0;
}

.container {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  width: "100%";
  height: "100vh";
}

.content-primary-block {
  background-color: teal;
}

.revealer {
  position: relative;
  left: -50%;
}

.navbar-locked {
  position: fixed;
  top: 0;
  /* background-color: darkseagreen; */
  /* border-bottom-style: solid; */
  padding: 0px auto;
  width: 25vw;
  transition-delay: 0.5s;
  transition: transform 1s ease-out;
  transform: translateY(-25vh);
  /* color: white; */
  padding-top: 1vh;
  height: 5vh !important;
}

.navbar-animate-in-top {
  transition-delay: 0.5s;
  transition: transform 1s;
  transform: translateY(0);
}

.navbar-bottom {
  position: fixed;
  bottom: 0;
  /* background-color: darkseagreen; */
  /* border-bottom-style: solid; */
  padding: 0px auto;
  width: 25vw;
  transition-delay: 0.5s;
  transition: transform 1s ease-out;
  /* color: white; */
  padding-top: 1vh;
  height: 5vh !important;
}

.media-links {
  position: fixed;
  font-size: 1.5rem;
  right: 0;
  top: 0;
  height: 5vh;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  color: aqua;
}

.media-links a {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.about-left {
  display: inline-block;
  position: fixed;
  width: 50vw;
  height: 90vh;
  top: 5vh;
  left: 0;
  transition: transform 1s ease-out;
  transform: translateX(-60vw);
}

.about-left-inside {
  color: #1e2131;
  font-size: 7vw;
  width: 100%;
  height: 90vh;
  background-color: lightblue;
  mix-blend-mode: screen;
  text-align: center;
}

.about-right {
  display: inline-block;
  position: fixed;
  width: 50vw;
  height: 90vh;
  top: 5vh;
  left: 0;
  transition: transform 1s ease-out;
  transform: translateX(150vw);
}

.about-right-inside {
  color: lightblue;
  font-size: 7vw;
  width: 100%;
  height: 100vh;
}

.about-right-content {
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: left;
  transition: transform 0.5s ease-in;
}

.about-right-content p {
  font-family: monospace;
  font-size: calc(0.3rem + 1vmin);
}

.about-right-content ul {
  padding-left: 10%;
  padding-top: 5%;
  list-style: none;
}

.about-right-content li::before {
  content: "";
  border-color: transparent lightblue;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9rem;
  position: relative;
}

.about-right-content ul li {
  font-family: monospace;
  font-size: 0.7vw;
}

.about-right-what-i-do {
  position: fixed;
  transform: translateY(100vh);
}

.about-right-technologies {
  position: fixed;
  transform: translateY(100vh);
}

/* EXPERIENCE */

.experience-left {
  display: inline-block;
  position: fixed;
  width: 50vw;
  height: 90vh;
  top: 5vh;
  left: 0;
  transition: transform 1s;
  transform: translateX(-75vw);
}

.experience-right {
  display: inline-block;
  position: fixed;
  width: 50vw;
  height: 90vh;
  top: 5vh;
  left: 0;
  transition: transform 0.925s;
  transform: translateX(175vw);
}

.experience-left-inside {
  color: lightblue;
  font-size: 10rem;
  width: 100%;
  height: 90vh;
  mix-blend-mode: screen;
  text-align: center;
  font-size: 5vw;
}

.experience-right-inside {
  background-color: lightblue;
  color: #1e2131;
  font-size: 5vw;
  width: 100%;
  height: 90vh;
}

/* TIMELINE */

.timleine-animate-in {
  transition: transform 1s !important;
  transform: translateY(0vh) !important;
}

.timeline-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transform: translateY(-300vh);
  overflow: visible;
  color: aqua;
  transition: transform 1s;
}

.timeline-canvas-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 12.5vh;
}

.timeline-row-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50vw;
  left: 25vw;
  top: 25%;
  margin: 0;
  padding: 0;
}

.timeline-column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 30vw;
}

.timeline-inner-left {
  position: relative;
  text-align: right;
  transition: transform 0.925s;
  transform: translateX(25vw);
  padding-right: 5vw;
}

.timeline-inner-right {
  padding-left: 5vw;
  text-align: left;
  color: white;
  position: relative;
  transition: transform 0.925s;
  transform: translateX(-25vw);
}

.timeline-inner-in {
  transition: transform 0.925s;
  transform: translateX(0);
}

.timeline-column h4 {
  font-family: monospace;
  font-size: calc(0.4rem + 1vmin);

  color: aqua;
  font-style: normal;
}

.timeline-column h5 {
  font-family: monospace;
  font-size: calc(0.35rem + 1vmin);

  color: darkseagreen;
  font-style: normal;
}

.timeline-column p {
  font-family: monospace;
  color: lightblue;
  font-size: calc(0.3rem + 1vmin);
}

/* CONTACT */

.contact-container {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 65vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 1s;
  transform: translateY(-100vh);
}

.contact-in {
  transition: transform 1s;
  transform: translateY(5vh);
}

.contact-container p {
  color: lightblue;
  font-family: monospace;
  font-size: calc(0.2rem + 1vmin);
  text-align: center;
}

.contact-container .form-group {
  width: 33.333vw;
}

.contact-container .form-control {
  width: 33.333vw;
  background-color: gainsboro;
  border-radius: 0px;
  border-color: lightblue;
  margin-bottom: 2vh;
  font-family: monospace;
}

.contact-container .btn-primary {
  background-color: lightblue;
  border-color: transparent;
  font-family: monospace;
  color: var(--primary-purple);
}
/* FOOTER */

.footer-container {
  position: fixed;
  width: 100vw;
  height: 25vh;
  overflow: visible;
  background-color: #292d44;
  color: white;
  font-family: monospace;
  transition: transform 1s;
  transform: translateY(110vh);
}

.footer-in {
  transition: transform 1s;
  transform: translateY(75vh);
}
.footer-container::after {
  content: "";
  float: right;
  position: absolute;
  top: -5vh;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 50vw solid #292d44;
  border-right: 50vw solid #292d44;
  border-top: 5vh solid transparent;
}

.footer-button {
  position: relative;
  top: -22.5px;
  z-index: 2;
  background-color: lightblue;
  border: none;
  color: var(--primary-purple);
  width: 50px;
  height: 45px;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  border-radius: 2.5px;
}

.footer-fa-icon {
  display: flex;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

/*  */
.footer-content p {
  color: darkseagreen;
}

.footer-content a {
  font-size: 8vh;
}

.footer-footnote {
  position: absolute;
  width: 100%;
  font-size: 0.7vw;
  bottom: 0;
  color: darkseagreen;
}

.footer-dark {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0%;
  background-color: #202336;
}
/* ANIMATION */

.animate-out-left {
  transition: transform 0.5s ease-in;
  transform: translateX(-100vw);
}

.animate-out-right {
  transition: transform 0.5s ease-in;
  transform: translateX(100vw);
}

.animate-out-top {
  transition: transform 0.5s ease-in;
  transform: translateY(-100vh);
}

.about-animate-out {
  transition: transform 0.75s ease-out;
  transform: translate(-50%, -100vh);
}

.about-animate-out-top {
  transition: transform 0.7s ease-in;
  transform: translateY(-100vh);
}

.about-peek-out-top {
  transition: transform 0.5s ease-in;
  transform: translateY(-25vh);
}

.about-peek-out {
  transition: transform 0.3s ease-in;
  transform: translate(-50%, -30vh);
}

.animate-in-top {
  transition-delay: 0.5s;
  transition: transform 0.5s ease-in;
  transform: translateY(0);
}

.animate-in-right {
  transition: transform 0.1s ease-in;
  transform: translateX(-100vw);
}

.animate-in-left {
  transition: transform 0.5s ease-in;
  transform: translateX(0);
}

.animate-in-right {
  transition: transform 0.5s ease-in;
  transform: translateX(50vw);
}

.peek-in-left {
  transition: transform 0.5s ease-out;
  transform: translate(-40vw);
}

.animated-title-text {
  transition: transform 0.5s ease-out;
}

.what-i-do-peek {
  transition: transform 0.5s ease-in;
  transform: translateY(70vh);
}

.what-i-do-stage-1 {
  transition: transform 0.5s ease-out;
  transform: translateY(30vh);
}

.what-i-do-stage-2 {
  transition: transform 0.5s ease-out;
  transform: translateY(15vh);
}

.technologies-peek {
  transition: transform 0.5s ease-in;
  transform: translateY(80vh);
}

.technologies-in {
  transition: transform 0.5s ease-out;
  transform: translateY(40vh);
}

.hex-container {
  position: absolute;
  float: right;
  top: 5vh;
  right: -5vw;
  width: 10vw;
}
